<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/assets/css/prism-tomorrow-night.min.css" />
        <link rel="manifest" href="/manifest.json" />
        <title>{{ title }}</title>
        <script>
          if ("serviceWorker" in navigator) {
            navigator.serviceWorker
              .register("/service-worker.js")
              .then(function() {
                console.log("ServiceWorker has been registered!");
              })
              .catch(console.error);
          }
        </script>
        <script>
            function openTarget() {
                console.log("in open target");
                var hash = location.hash.substring(1);
                if (hash) {
                    var details = document.getElementById(hash);
                }
                if (details && details.tagName.toLowerCase() === "details") {
                    details.open = true;
                    details.scrollIntoView();
                }
            }
            window.addEventListener("hashchange", openTarget);
            window.addEventListener("DOMContentLoaded", openTarget);
        </script>
        <script async src="/assets/js/main.min.js"></script>
    </head>

    <body class="flex flex-col h-screen text-gray-900 bg-gray-100">

        {% include "layouts/navbar.njk" %}

        <div class="flex-1 w-11/12 m-auto lg:container lg:px-48">
            {% block main %}
            {{ content | safe }}
            {% endblock %}
        </div>

        {% include "layouts/footer.njk" %}
    </body>
</html>
