<!-- Footer -->
<footer class="items-center justify-between w-11/12 mx-auto mt-4 lg:container lg:px-48">
    <div class="flex-grow block w-full border-t-2 border-gray-400 space-x-4 lg:flex lg:items-center lg:w-auto">
        <a href="/feed.xml" class="inline-block my-2 text-lg font-medium">RSS</a>
        <a href="mailto:{{ site.author.email }}" class="inline-block my-2 text-lg font-medium">Email</a>
        <a href="{{ site.author.github }}" class="inline-block my-2 text-lg font-medium">GitHub</a>
        <a href="{{ site.author.linkedin }}" class="inline-block my-2 text-lg font-medium">LinkedIn</a>
    </div>
    <p class="mb-2 text-gray-300 text-md"> Ishaat Chowdhury
        | <a class="text-blue-400" href="{{ site.license.url }}">{{ site.license.name }}</a>
        | <a class="text-blue-400" href="{{ site.repo.url }}">Source Code</a>
        </br>Favicon by <a class="text-blue-400" href="https://www.flaticon.com/authors/kiranshastry">kirashastry</a>
    </p>
</footer>
