<!-- Footer -->
<footer class="container items-center justify-between mx-6 lg:mx-auto lg:px-48">
    {# {{ navbarbutton() }} #}
    <div class="flex-grow block w-full border-t-2 border-gray-900 lg:flex lg:items-center lg:w-auto">
        <div class="lg:flex-grow">
            <a href="{{ site.feedUrl }}" class="block inline-block mt-2 mb-4 mr-4 text-lg font-medium lg:mb-0">RSS</a>
            <a href="mailto:{{ site.author.email }}" class="block inline-block mt-2 mb-4 mr-4 text-lg font-medium lg:mb-0">Email</a>
            <a href="{{ site.author.github }}" class="block inline-block mt-2 mb-4 mr-4 text-lg font-medium lg:mb-0">GitHub</a>
            <a href="{{ site.author.linkedin }}" class="block inline-block mt-2 mb-4 mr-4 text-lg font-medium lg:mb-0">LinkedIn</a>
        </div>
    </div>
    <p class="my-2 text-gray-700 text-md"> Ishaat Chowdhury | <a class="text-blue-700" href="{{ site.license.url }}">{{ site.license.name }}</a>
        </br>Built with <a class="text-blue-700" href="{{ site.eleventy.url }}">Eleventy</a> and <a class="text-blue-700" href="{{ site.tailwindcss.url }}">TailwindCSS</a>
        | <a class="text-blue-700" href="{{ site.repo }}">Source Code</a>
    </p>
</footer>
