{% macro navbaritem(name='Item', href='#') %}
<a
    href="{{ href }}"
    class="block inline-block mr-4 text-2xl font-semibold border-b-2 border-gray-900 border-dashed"
>
    {{ name }}
</a>
{% endmacro %}

<!-- Navbar -->
<nav class="items-center justify-between w-11/12 py-6 mx-auto lg:container lg:px-48">
    <div class="flex-grow block w-full space-y-4 lg:space-y-0 lg:flex lg:items-center lg:w-auto">
        {{ navbaritem(name='About', href='/about/') }} 
        {# {{ navbaritem(name='Archive', href='#') }} #}
        {{ navbaritem(name='Posts', href='/') }} 
        {{ navbaritem(name='Tags', href='/tags/') }} 
    </div>
</nav>

