{% macro navbaritem(name='Item', href='#') %}
<a
    href="{{ href }}"
    class="block text-2xl font-semibold border-b-2 border-gray-900 border-dashed lg:mr-4 lg:inline-block"
>
    {{ name }}
</a>
{% endmacro %}

{% macro navbarbutton() %}
<div class="block lg:hidden">
    <button
        class="flex items-center px-3 py-2 text-white border border-white rounded hover:text-white hover:border-white"
    >
        <svg
            class="w-3 h-3 fill-current"
            viewbox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
        >
            <title>menu</title>
            <path d="m0 3h20v2h0v3zm0 6h20v2h0v9zm0 6h20v2h0v-2z" />
        </svg>
        <!-- <img src="assets/icons/fondicons/menu.svg"> -->
    </button>
</div>
{% endmacro %}

<!-- Navbar -->
<nav class="items-center justify-between w-11/12 py-6 mx-auto lg:container lg:px-48">
    {# {{ navbarbutton() }} #}
    <div class="flex-grow block w-full space-y-4 lg:space-y-0 lg:flex lg:items-center lg:w-auto">
        {{ navbaritem(name='About', href='/about/') }} 
        {# {{ navbaritem(name='Archive', href='#') }} #}
        {{ navbaritem(name='Posts', href='/') }} 
        {{ navbaritem(name='Tags', href='/tags/') }} 
    </div>
</nav>

