/* purgecss start ignore */

@tailwind base;

h1 {
    @apply my-4 text-3xl font-bold;
}

h2 {
    @apply my-4 text-2xl font-bold;
}

h3 {
    @apply my-4 text-xl font-bold;
}

h4 {
    @apply my-4 text-lg font-bold;
}

h5 {
    @apply my-4 text-lg font-semibold;
}

h6 {
    @apply my-4 text-lg font-medium;
}

blockquote {
    @apply py-1 pl-2 my-2 text-lg border-l-4 border-gray-400;
}

/* Inline code */
p code {
    color: #ccc;
    background: #2d2d2d;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: normal;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    @apply p-1 mx-1 my-2;
}

ul {
    @apply pl-4 my-2 list-disc list-inside;
}

ol {
    @apply pl-4 my-2 list-decimal list-inside;
}

.content p {
    @apply my-4 leading-tight text-lg;
}

.content a {
    @apply text-blue-400;
}

@tailwind components;

/* purgecss end ignore */

@tailwind utilities;
