---
layout: base
title: "Ishaat Chowdhury"
---

<div class="divide-y-2 divide-gray-300 ">
    {% for post in collections.post | reverse %}
        <div class="py-8">
            <a class="text-3xl font-bold leading-loose text-gray-900" href="/posts/first-post/">{{ post.data.title }}</a>
            <p class="text-lg italic text-gray-700">{{ post.data.date.toDateString() }}</p>
            <div class="flex flex-row leading-loose space-x-2">
                {% for tag in post.data.tags %}
                    {% if tag != 'post' %}
                        <a class="text-lg italic text-gray-700" href="#">#{{tag}}</a>
                    {% endif %}
                {% endfor %}
            </div>
            <p class="text-lg">Summary</p>
        </div>
    {% endfor %}
</div>
