---
layout: base
title: "Ishaat Chowdhury"
changefreq: "daily"
description: |
    Personal website of Ishaat Chowdhury.
    Contains blog posts about technology and programming.
pagination:
    data: collections.posts
    size: 5
    reverse: true
    alias: posts
---

<!-- Post List  -->
<div class="">
    {% for post in posts %}
    <div class="{{ "mb-4" if loop.index == 1 else "py-4" }}">
        <a class="text-2xl font-bold leading-loose" href="{{ post.url }}">{{ post.data.title }}</a>
        <!-- <p class="italic text&#45;gray&#45;700 text&#45;md">{{ post.data.date.toDateString() }}</p> -->
        <p class="italic text-gray-300 text-md">{{ post.data.date | dateFormat("DDD") }}</p>
        <div class="flex flex-row leading-loose space-x-2">
            {% for tag in post.data.tags %} 
            <a class="italic text-gray-300 text-md" href="/tags/#{{ tag }}">#{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<!-- Pagination  -->
<nav class="flex justify-between text-3xl text-center">
        <div class="flex flex-row">
            <a class="pr-6 py-2 my-2 mr-2 {{ "invisible" if page.url == pagination.href.first else "" }}" href="{{ pagination.href.first }}">&lt&lt</a>
            <a class="px-6 py-2 m-2 {{ "invisible" if page.url == pagination.href.first else "" }}" href="{{ pagination.href.previous }}">&lt</a>
        </div>
        <div class="flex flex-row">
            <a class="px-6 py-2 m-2 {{ "invisible" if page.url == pagination.href.last else "" }}" href="{{ pagination.href.next }}">&gt</a>
            <a class="pl-6 py-2 my-2 ml-2 {{ "invisible" if page.url == pagination.href.last else "" }}" href="{{ pagination.href.last }}">&gt&gt</a>
        </div>
</nav>
