---
layout: base
title: "Tags"
description: |
    Page containing a list of all posts grouped by their tags.
changefreq: "daily"
---

<!-- Tag List  -->
<div>
    {% for tag, posts in collections %}
        {% if (tag != 'posts') and (tag != 'all') %}
            <details id="{{ tag }}">
                <summary class="text-xl">{{ tag }} ({{ posts | length }})</summary>
                <ul class="text-lg">
                    {% for post in posts | reverse %}
                    <li>
                        <span class="italic">{{ post.data.date | dateFormat("DDD") }} - </span><a class="text-blue-700" href="{{ post.url }}">{{ post.data.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </details>
        {% endif %}
    {% endfor %}
</div>
